/*start default themaes*/



.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu >li >a:hover,
.dropdown-menu >li >a:focus,
.carousel-indicators .active,
.option-box .gear-chick
{
    background-color:#F50057;
}


.navbar-brand .port span,
.about h1 span,
.about h3 span,
.testmono span,
.footer .copy span,
.footer h3
{
color:#F50057;
}




.dropdown-menu
{
          border-top:3px solid #F50057;
}
.option-box .color-option,
.testmono .carousel-indicators li.active
{
          border:3px solid #F50057; 
}





/*end default theames*/